<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music Pro Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css ' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css ' %}" rel="stylesheet">

</head>

<body id="page-top">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'adm' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-fw fa-cog"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Music <sup>Pro</sup></div>
        </a>

        <div class="sidebar-heading">
            Funciones
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed active" href="#" data-toggle="collapse" data-target="#collapseProductos"
                aria-expanded="true" aria-controls="collapseProductos">
                <i class="fas fa-fw fa-cog"></i>
                <span>Productos</span>
            </a>
            <div id="collapseProductos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Productos:</h6>
                    <a class="collapse-item" href="{% url 'tables' %}">Listar Productos</a>
                    <a class="collapse-item" href="{% url 'AgregarProducto' %}">Agregar Producto</a>
                </div>
            </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFamilia"
                aria-expanded="true" aria-controls="collapseFamilia">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Familia Producto</span>
            </a>
            <div id="collapseFamilia" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Familia Producto:</h6>
                    <a class="collapse-item" href="{% url 'tablafamilia' %}">Listar Familia Producto</a>
                    <a class="collapse-item" href="{% url 'AgregarFamilia' %}">Agregar Familia Producto        </a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSubFamilia"
                aria-expanded="true" aria-controls="collapseSubFamilia">
                <i class="fas fa-fw fa-wrench"></i>
                <span>SubFamilia Producto</span>
            </a>
            <div id="collapseSubFamilia" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SubFamilia Producto:</h6>
                    <a class="collapse-item" href="{% url 'tablasubfamilia' %}">Listar SFamilia Producto</a>
                    <a class="collapse-item" href="{% url 'AgregarSubFamilia' %}">Agregar SFamilia Producto</a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegion"
                aria-expanded="true" aria-controls="collapseRegion">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Region</span>
            </a>
            <div id="collapseRegion" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Region:</h6>
                    <a class="collapse-item" href="{% url 'TablaRegion' %}">Listar Region</a>
                    <a class="collapse-item" href="{% url 'AgregarRegion' %}">Agregar Region</a>
                </div>
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSucursal"
                    aria-expanded="true" aria-controls="collapseSucursal">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Sucursal</span>
                </a>
                <div id="collapseSucursal" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sucursal:</h6>
                        <a class="collapse-item" href="{% url 'TablaSucursal' %}">Listar Sucursal</a>
                        <a class="collapse-item" href="{% url 'AgregarSucursal' %}">Agregar Sucursal</a>
                    </div>
                </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEstado"
                    aria-expanded="true" aria-controls="collapseEstado">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Estado</span>
                </a>
                <div id="collapseEstado" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sucursal:</h6>
                        <a class="collapse-item" href="{% url 'TablaEstado' %}">Listar Estado</a>
                        <a class="collapse-item" href="{% url 'AgregarEstado' %}">Agregar Estado</a>
                    </div>
                </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProvincia"
                aria-expanded="true" aria-controls="collapseProvincia">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Provincia</span>
            </a>
            <div id="collapseProvincia" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Provincia:</h6>
                    <a class="collapse-item" href="{% url 'TablaProvincia' %}">Listar Provincia</a>
                    <a class="collapse-item" href="{% url 'AgregarProvincia' %}">Agregar Provincia</a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseComuna"
                aria-expanded="true" aria-controls="collapseComuna">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Comuna</span>
            </a>
            <div id="collapseComuna" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Comuna:</h6>
                    <a class="collapse-item" href="{% url 'TablaComuna' %}">Listar Comuna</a>
                    <a class="collapse-item" href="{% url 'AgregarComuna' %}">Agregar Comuna</a>
                    
                </div>
            </div>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTipoPago"
                aria-expanded="true" aria-controls="collapseTipoPago">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Tipo de Pago</span>
            </a>
            <div id="collapseTipoPago" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tipo de Pago:</h6>
                    <a class="collapse-item" href="{% url 'TablaTipoPago' %}">Listar Tipo de Pago</a>
                    <a class="collapse-item" href="{% url 'AgregarTipoPago' %}">Agregar Tipo de pago</a>
                </div>
            </div>  
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompra"
                aria-expanded="true" aria-controls="collapseCompra">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Compra</span>
            </a>
            <div id="collapseCompra" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Compra:</h6>
                    <a class="collapse-item" href="{% url 'TablaCompra' %}">Listar Compras</a>
                    <a class="collapse-item" href="{% url 'AgregarCompra' %}">Agregar Compra</a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompra_Estado"
                aria-expanded="true" aria-controls="collapseCompra_Estado">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Estado de Compra</span>
            </a>
            <div id="collapseCompra_Estado" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Compra:</h6>
                    <a class="collapse-item" href="{% url 'TablaCompra_Estado' %}">Listar Estado de Compras</a>
                    <a class="collapse-item" href="{% url 'AgregarCompra_Estado' %}">Agregar Estados de Compras</a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEstrategia_Detalle"
                aria-expanded="true" aria-controls="collapseEstrategia_Detalle">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Estado de Compra</span>
            </a>
            <div id="collapseEstrategia_Detalle" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Compra:</h6>
                    <a class="collapse-item" href="{% url 'TablaEstrategia_Detalle' %}">Listar Detalle de Estrategia</a>
                    <a class="collapse-item" href="{% url 'AgregarEstrategia_Detalle' %}">Agregar EDetalle de Estrategia</a>
                </div>
            </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEstrategia"
                aria-expanded="true" aria-controls="collapseEstrategia">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Estrategia</span>
            </a>
            <div id="collapseEstrategia" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Provincia:</h6>
                    <a class="collapse-item" href="{% url 'TablaEstrategia' %}">Listar Estrategia</a>
                    <a class="collapse-item" href="{% url 'AgregarEstrategia' %}">Agregar Estrategia</a>
                    <div>
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompraDetalle"
                    aria-expanded="true" aria-controls="collapseECompraDetalle">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>CompraDetalle</span>
                </a>
                <div id="collapseCompraDetalle" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Provincia:</h6>
                        <a class="collapse-item" href="{% url 'TablaCompraDetalle' %}">Listar CompraDetalle</a>
                        <a class="collapse-item" href="{% url 'AgregarCompraDetalle' %}">Agregar CompraDetalle</a>
                        <div>
                </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>